{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'text-black',
    'body-font',
  ]
%}
{%
  set content_section_classes = [
    'flex',
    'flex-col',
    'flex-wrap',
    'lg:py-6',
    '-mb-10',
    'lg:w-1/2',
    'lg:pl-12',
    'lg:text-left',
    'text-center',
  ]
%}
{% set card_info_section_title = content.field_listing_section_title['#items'].getValue().0.value %}
{% set design_type = content.field_design_type['#items'].getValue().0.value %}
{% set list_summary = content.field_summary['#items'].getValue().0.value ?? '' %}

{% block paragraph %}
  <section class="text-black body-font">
    <div class="container px-5 pt-24 mx-auto flex flex-wrap">
      {% if design_type == 'list_with_section_image'%}
        <div class="container px-5 py-20 mx-auto">
          <div class="flex flex-col">
            <div class="h-1 bg-black rounded overflow-hidden">
              <div class="w-40 h-full bg-orange-500"></div>
            </div>
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
              <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-4xl mb-2 sm:mb-0">{{ card_info_section_title|t }}</h1>
              <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">{{ list_summary|t|striptags }}</p>
            </div>
          </div>
        </div> 
        <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
          <img alt="feature" class="object-cover object-center h-full w-full" src="sites/default/files/pexels.jpg">
        </div>
        <div {{ attributes.addClass(content_section_classes) }}>
            {% for key, value in content.field_listing_component['#items'].getValue %}
              {% set listing_title = content.field_listing_component[key]['#paragraph'].field_hero_title.getValue().0.value %}
              {% set listing_content = content.field_listing_component[key]['#paragraph'].field_info_card_description.getValue().0.value %}  
              {% set list_sub_title = content.field_listing_component[key]['#paragraph'].get('field_hero_sub_title').getValue()[0].value ?? '' %}    
              {% set website_link = content.field_listing_component[key]['#paragraph'].get('field_website_link').getValue()[0] ?? '' %}
              <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="inline-flex items-center justify-center rounded-full text-indigo-500 mb-5">
                  <i class="far fa-handshake" style="padding: .5em; background: orange; border-radius: inherit; color: white; font-size: x-large;"></i>
                  <span class="flex-grow flex flex-col pl-3">
                    <span class="title-font font-large text-black">{{ listing_title|t }}</span>
                  </span>
                </div>
                <div class="flex-grow">
                  <h3 class="tracking-widest text-orange-600 text-xs font-medium title-font">{{ list_sub_title|t|raw }}</h3>
                  <p class="leading-relaxed text-base">{{ listing_content|t }}</p>
                  <a class="mt-3 text-orange-500 inline-flex items-center" href="{{ website_link.uri }}" target="_blank"> {{ website_link.title }}
                    <svg fill="none" stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>  
                </div>
              </div>
            {% endfor %}  
        </div>
        <div class="flex flex-col text-center w-full m-10 items-center">
          <button class="m-1 w-1/3 text-white hover:text-orange-500 bg-orange-500 border-0 py-2 px-6 focus:outline-none hover:bg-black rounded text-lg">
            <a href="/partners">More Info</a>
          </button>
        </div>
      {% elseif design_type == 'list_with_icon' %}
        <div class="flex flex-col text-center w-full p-24">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">{{ card_info_section_title|t }}</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{ list_summary|t }}</p>      
        </div> 
          {% for key, value in content.field_listing_component['#items'].getValue %}
            {% set list_title = content.field_listing_component[key]['#paragraph'].get('field_hero_title').getValue()[0].value ?? '' %}
            {% set list_sub_title = content.field_listing_component[key]['#paragraph'].get('field_hero_sub_title').getValue()[0].value ?? '' %}
            {% set list_content = content.field_listing_component[key]['#paragraph'].get('field_info_card_description').getValue()[0].value ?? '' %}
            {% set website_link = content.field_listing_component[key]['#paragraph'].get('field_website_link').getValue()[0] ?? '' %}
            {% set image_url = content.field_listing_component[key].uri %}
            {% if key is even or key == 0 %}
              <div class="flex flex-wrap -m-4 my-4">    
                <div class="xl:w-1/2 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    {% if image_url is not null%}
                      <img class="h-20 rounded w-full object-contain object-center mb-6" src="{{ file_url(content.field_listing_component[key].uri) }}" alt="content">
                    {% endif %}
                    <h3 class="tracking-widest text-orange-600 text-xs font-medium title-font">{{ list_sub_title|t|raw }}</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{ list_title|t|raw }}</h2>
                    <p class="leading-relaxed text-base">{{ list_content|t|raw }}</p>
                    <a class="mt-3 text-orange-500 inline-flex items-center" href="{{ website_link.uri }}" target="_blank"> {{ website_link.title }}
                      <svg fill="none" stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>                       
                </div>
              </div> 
            {% else %}
                <div class="xl:w-1/2 md:w-1/2 p-4">
                  <div class="bg-gray-100 p-6 rounded-lg">
                    {% if image_url is not null%}
                      <img class="h-20 rounded w-full object-contain object-center mb-6" src="{{ file_url(content.field_listing_component[key].uri) }}" alt="content">
                    {% endif %}
                    <h3 class="tracking-widest text-orange-600 text-xs font-medium title-font">{{ list_sub_title|t|raw }}</h3>
                    <h2 class="text-lg text-gray-900 font-medium title-font mb-4">{{ list_title|t|raw }}</h2>
                    <p class="leading-relaxed text-base">{{ list_content|t|raw }}</p>
                    <a class="mt-3 text-orange-500 inline-flex items-center" href="{{ website_link.uri }}" target="_blank"> {{ website_link.title }}
                      <svg fill="none" stroke="orange" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                        <path d="M5 12h14M12 5l7 7-7 7"></path>
                      </svg>
                    </a>                    
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %} 
      {% endif %}  
    </div>
  </section>
{% endblock paragraph %}  